$yellow: #05660c;
$red: #a3260d;
$green: #05660c;

@mixin padding ($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
    
}

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px)
}

/*.btn {
    background-color: green;
}*/

footer {
    background-color: $green;
    @include padding (10px, 10px, 0px,10px)
    @include margenes(10px, 0px)
}   

.img-fluid {
    width: 100%;
    
}



.card-hotel {
    background-color: $red;
    flex: 1 300px;
    @include padding(10px, 10px, 10px, 10px)
    @include margenes(10px, 0px)
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
    
.footer-address-icon {
    @include padding(0px, 10px, 0px, 0px)
}

/* Price */ 

.tab-content {
    @include padding(10px, 0px, 0px, 0px)
}

/*Footer*/

.footer-1 {
    max-width: 1000px;
}
