@yellow: #fffa19;
@green: #05660c;
@red: #a3260d;


.jumbotron {
    background-color: @yellow;
    color: black;
    margin-top: 50px;
    margin-bottom: 0px; }
  
  /*.btn {
      background-color: green;
  }*/
  footer {
    background-color: @green;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px; 
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .img-fluid {
    width: 100%; }
  
  .card-hotel {
    background-color: @red;
    flex: 1 300px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px; }
  
  /* Price */
  .tab-content {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
  
  /*Footer*/
  .footer-1 {
    max-width: 1000px; }
  