.jumbotron {
  background-color: #05660c;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

/*.btn {
    background-color: green;
}*/
footer {
  background-color: #05660c;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.img-fluid {
  width: 100%; }

.card-hotel {
  background-color: #a3260d;
  flex: 1 300px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

/* Price */
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

/*Footer*/
.footer-1 {
  max-width: 1000px; }
